body{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #565656;
}


/* navbar */
.menu-main::before{
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    width: 770px;
    height: 600px;
    background-color: #f76f76;
    z-index: -1;
    border-bottom-left-radius: 100%;
}
.menu-main {
    height: 90px;
    background-color: transparent;
    margin-bottom: 60px;
}
.menu-main .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-main .logo {
    height: 90px;
}
.menu-main .logo img{
    padding-top: 20px;
    height: 70px;
}
.menu-main ul {
    display: flex;
}

.menu-main ul .menu-item {
    display: block;
    margin-left: 50px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    color: white;
}


/* body */

.content{
    margin: auto 0;
}
.image1 img{
    width: 100%;
}

.container1 .content span{
    font-size: 16px;
    font-style: italic;
    display: block;
    margin-bottom: 8px;
}
.container1 .content h1{
    font-size: 54px;
    font-weight: 600;
    color: rgb(36, 34, 34);
}
.container1 .content > p{
    margin: 24px 0;
    font-size: 16px;
    font-family: -webkit-pictograph;
}



/* Button */

.btn{
    display: flex;
}

.btn1,.btn2{
    width: 130px;
    height: 50px;
    border-radius: 5px;
    margin-right: 16px;
    transition: 0.4s;
}
.btn1{
    border: 2px solid #f74b54;
    color: #f74b54;
}
.btn2{
    border: 2px solid #0167da;
    color: #0167da;
}
.btn p.text{
    line-height: 50px;
    text-align: center;
    font-weight: 500;
    font-family: cursive;
    font-size: 16px;
}


.btn1:hover{
    color: white;
    background-color: #f74b54;
    transition: 0.4s;
    cursor: pointer;
}
.btn2:hover{
    color: white;
    background-color: #0167da;
    transition: 0.4s;
    cursor: pointer;
}


@keyframes bounceHero {
    0% {
        top: 0px;
    }

    50% {
        top: 25px;
    }

    100% {
        top: 0px;
    }
}

.container1 .image1 img{
    position: relative;
    animation: bounceHero 3s infinite;
}

/* container2 */

.container2{
    padding: 100px 0;
}
.container2 .product{
    border-radius: 25px;
    box-shadow: 0px 3px 20px -1px #cac9c9;
    border-bottom: 3px solid #f74b54;
    transition: 0.2s;
}
.container2 .product:hover{
    margin-top: -7px;
    box-shadow: 0px 3px 30px -1px #cac9c9;
    transition: 0.2s;
    cursor: pointer;
}
.container2 .product img{
    width: 100%;
    border-radius: 25px;
}

.product-decription1{
    padding: 24px;
}

.product-decription1 li{
    font-family: system-ui;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    margin-left: 16px;
}

.product-decription1 li{
    list-style: initial;
}
/* end product1 */



/* section1 */

.content1,.content3{
    padding: 100px 0;
    background-color: #fafafa;
}

.content1 img, .content2 img{
    display: block;
    margin: 0 auto;
}
.content1 .title, .content2 .title,.content4 .title{
    margin-bottom: 24px;
    font-size: 36px;
    font-family: inherit;
    font-weight: 600;
    color: #222;
}

.content1 .info, .content2 .info, .content3 .info,.content4 .info{
    padding: 8px 0;
    color: #565656;
    font-size: 14px;
    font-weight: 400;
    font-family: inherit;
    line-height: 1.7;
}
.content1 li{
    display: flex;
}
.content1 li i{
    margin: auto 24px auto 0;
    font-size: 30px;
    color: #f74b54;
}

.link{
    display: block;
    margin-top: 24px;
    color: #F74B54;
    font-size: 15px;
    font-weight: 500;
    font-family: system-ui;
}
.link i{
    font-size: 13px;
}
.align-middle{
    margin: auto 0;
}

/* content2 */

.content2,.content4{
    padding: 100px 0;
}

/* content3 */

.content3 .title{
    margin-bottom: 24px;
    font-size: 28px;
    font-family: inherit;
    font-weight: 600;
    color: #222;
}
.content3 .info{
    text-align: center;
}
.content3 .row{
    justify-content: center;
}
.content3 .link{
    text-align: center;
}

/* content4 */

.content4-item{
    padding: 16px;
}
.content4-item .icon{
    margin: 0;
    font-size: 48px;
    color: #F74B54;
}
.content4-item .title{
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 1.2;
    color: #222;
}
.content4-item .info p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #565656;
    margin-bottom: 0;
}
.content4 .align-vertical{
    margin: auto 0;
}